@charset "utf-8";
*
{
    margin: 0;
    padding: 0;  
}
body
{
    height: 100vh;
}
.container
{
    width: 1920px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: scroll; 
    scroll-behavior: smooth;
    background-color: white;
}
.nav-horizontal
{
    position: fixed;
    width: 1920px;
    height: 7%;
    background-color: white;
}
.logo
{
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 10%;
}
.ct-nav1
{
    width: 35%;
    height: 100%;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 28%;
}
.ct-nav2
{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}
nav ul
{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    list-style: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
    float: left;
    margin: 1.2% 4.3% 0 0;
}
nav ul li a:hover
{
    color: #4b71ff;
}
.nav-vertical
{
    width: 5%;
    height: 100%;
    right: 2%;
    position: fixed;
    padding-top: 40%;
}
/*-----------icon-----------------------------------------------*/
.fa 
{
    font-size: 200px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover 
{
    color: blue;
}
.fa-facebook 
{
  color: black;
}
.fa-youtube 
{
    color: black;
}
.fa-google 
{
    color: black
}
section
{
    width: 100%;
    height: 1000px;
}
.all
{
    width: 100%;
    height: 100%;
    position: relative;
}

.content-txt
{
    width: 25%;
    height: 40%;
    margin: 17% 0 0 57%;
   display: inline-block;
}
/*-----------icon-----------------------------------------------*/
.fa 
{
    font-size: 200px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
}
.fa:hover 
{
    color: blue;
}
.fa-facebook 
{
  color: black;
}
.fa-youtube 
{
    color: black;
}
.fa-google 
{
    color: black
}
/*-----------laptop-----------------------------------------------*/
.content2
{
    width: 80%;
    height: 60%;
    margin: 10% 0 0 15%;
    display: inline-block;
}

.content2a
{
    width: 35%;
    height: 100%;
    float: left;
    margin-top: 10%;
}
.content2b
{
    width: 65%;
    height: 100%;
    /*background: url(../images/laptop.png) no-repeat;*/
    float: right;
    z-index: 1;
}
.thefinals
{
    top: 22%;
    animation: thefinals 1.5s ease-out;
}
@keyframes thefinals
{
    0%{top: -80%;}
    100%{top:22%;}
}
.txt
{
    width: 70%;
    height: auto;
    /*background-color: wheat;*/
    text-align: left;
}
.title-ct
{
    font-size: 4em;
    font-weight: bold;
    color:  #4b71ff;
}
.lead
{
    margin-top: 5%;
    font-size: 1.3rem;
}
.btn-more
{
    width: 30%;
    height: 15%;
    border-radius: 2em;
    background-color: #4b71ff;
    border: none;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5%;
}
.btn-more:hover
{
    background-color: black;
    color: #4b71ff;
    border: 2px solid #4b71ff;
}
.btn-more:focus
{
    outline: none;
}
.title-contact
{
    width: 20%;
    height: 10%;
    display: inline-block;
    margin: 6% 0 0 43%;
}
.content-lienhe
{
    width: 80%;
    height: 40%;
    display: inline-block;
    margin: 2% 0 0 10%;
}
.box-icon
{
    width: 16%;
    height: 70%;
    border: 4px solid #4b71ff;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 1.5%;
    float: left;
}
.box-icon img
{
    margin-top: 17%;
}
.box-contact
{
    width: 70%;
    height: 30%;
    display: inline-block;
    margin: 0 0 0 14%;
}
.box-contact1
{
    width: 25%;
    height: 100%;
    float: left;
}
.box-contact1 p
{
    font-size: 1.4em;
    font-weight: bold;
}
.box-contact1 ul li 
{
    list-style: none;
}
.box-contact1 ul li a
{
    font-size: 1.2em;
    color: #555555;
    text-decoration: none;
}
.box-contact1 ul li a:hover
{
    color: #4b71ff;
}

/*---------------PICTURES------------------------*/
.pic1
{
    
    background: url(../images/bg1a.png) no-repeat center/cover;
}
img
{
    position: relative;
}
.pic2
{
    background: url(../images/bg2b.png) no-repeat center/cover;
   
}
.pic3
{
    background: url(../images/bg3a.png) no-repeat center/cover;
   
}
.pic4
{
    background: url(../images/bg4a.png) no-repeat center/cover;
}
